<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduate.system.mapper.BClassMapper">
    
    <resultMap type="BClass" id="B_ClassResult">
        <result property="cId"    column="c_id"    />
        <result property="cNumber"    column="c_number"    />
        <result property="cName"    column="c_name"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="cPhone"    column="c_phone"    />
        <result property="cCount"    column="c_count"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectB_ClassVo">
        select c_id, c_number, c_name, teacher_id, c_phone, c_count, create_time, update_time from b_class
    </sql>

    <select id="selectB_ClassList" parameterType="BClass" resultMap="B_ClassResult">
        <include refid="selectB_ClassVo"/>
        <where>  
            <if test="cNumber != null  and cNumber != ''"> and c_number = #{cNumber}</if>
            <if test="cName != null  and cName != ''"> and c_name like concat('%', #{cName}, '%')</if>
            <if test="teacherId != null "> and teacher_id = #{teacherId}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
        </where>
    </select>
    
    <select id="selectB_ClassByCId" parameterType="Long" resultMap="B_ClassResult">
        <include refid="selectB_ClassVo"/>
        where c_id = #{cId}
    </select>

    <select id="selectBClassListCIds" resultMap="B_ClassResult" parameterType="list">
        <include refid="selectB_ClassVo"/>
        where c_id in
        <foreach item="ClassIds" collection="list" open="(" separator="," close=")">
            #{ClassIds}
        </foreach>
    </select>

    <select id="selectBClassAll"  resultMap="B_ClassResult">
        <include refid="selectB_ClassVo"/>

    </select>

    <insert id="insertB_Class" parameterType="BClass" useGeneratedKeys="true" keyProperty="cId">
        insert into b_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cNumber != null">c_number,</if>
            <if test="cName != null and cName != ''">c_name,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="cPhone != null and cPhone != ''">c_phone,</if>
            <if test="cCount != null">c_count,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cNumber != null">#{cNumber},</if>
            <if test="cName != null and cName != ''">#{cName},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="cPhone != null and cPhone != ''">#{cPhone},</if>
            <if test="cCount != null">#{cCount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateB_Class" parameterType="BClass">
        update b_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="cNumber != null">c_number = #{cNumber},</if>
            <if test="cName != null and cName != ''">c_name = #{cName},</if>
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="cPhone != null and cPhone != ''">c_phone = #{cPhone},</if>
            <if test="cCount != null">c_count = #{cCount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where c_id = #{cId}
    </update>

    <delete id="deleteB_ClassByCId" parameterType="Long">
        delete from b_class where c_id = #{cId}
    </delete>

    <delete id="deleteB_ClassByCIds" parameterType="String">
        delete from b_class where c_id in 
        <foreach item="cId" collection="array" open="(" separator="," close=")">
            #{cId}
        </foreach>
    </delete>
</mapper>