*{
    margin: 0;
    padding: 0;
    /* background-color: #F4F4F5; */
}
.background{
    width: 100%;
    background-image: linear-gradient(to bottom, #12ACA8, white);
    float: left;
}
.search{
    margin: 15px;
}
.Search{
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    color: #E1DCDC;
    border: 0;
    outline: none;

}
.device_hander{
    margin: 15px;
}
.device{
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: white;
    border: 0 solid;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.device img{
    width: 44px;
}
.device_p {
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: white;
    border: 0 solid;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    box-shadow: 2px 4px 6px #E1DCDC;
}
.device_p button{
    width: 90px;
    height: 34px;
    border-radius: 23px;
    background-color: white;
    border: 1px solid;
    border-color: #79D5D5;
    color: #79D5D5;
}
.devicep_p_demo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.device_p_one{
    font-size: 10px;
    background-color: #F5DCD3;
    color: #E66D42;
    width: 219px;
    height: 19px;
    text-align: center;
    line-height: 1.2rem;
    border-radius: 2px;
}
.infomation{
    margin: 15px;
}
.infomation_one{
    display: flex;
    width: 100%;
    height: 9rem;
    background-color: white;
    border: 0 solid;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    box-shadow: 2px 4px 6px #E1DCDC;
}
.infomation_one h1{
    font-size: 1rem;
}
.infomation_one p{
    font-size: 0.7rem;
    color: #616060;
    padding: 0.3rem;
}





.infomation_pepoel{
    display: flex;
    height: 6rem;
    flex-direction: column;
    justify-content: space-between;
}
.infomation_xinxi>p>span{
    font-size: 0.7rem;
    color: #616060;
    padding: 0.3rem;
}
.endqiehuan{
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .endqiehuan a{
    color: black;
    /* background-color: #0096AA; */
    font-size: 2rem;
    text-decoration: none;
  }
  .endqiehuan a:hover{
    color: white;
    background-color: #0096AA;
  }

  /* 工资岗位 */
  p.work_post{
    font-size: 0.8rem;
    color: #454545;
    font-weight: 700;
  }
  .devicep_p_demo>p{
    font-size: 0.8rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.3rem;
  }

  span.online_btn {
    width: 2rem;
    height: 1rem;
    border: 0.1rem solid #51B9BD;
    text-align: center;
    line-height: 1rem;
    border-radius: 0.5rem;
    background: #51B9BD;
    color: #f3f0f0;
    font-size: 0.3rem;
    display: inline-block;
}





.searchDiv {
    /*background-color: #ffffff;*/
    padding: 0.15rem 1rem;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 100%;
    height: 45px;
    background-image: url(../img/公告新/sousuo.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    outline: none;
    border-radius: 30px 0 0 30px;
    padding-left: 50px;
    background-position: 0.5rem 0.8rem;
    font-size: 1rem;
    font-family: SourceHanSansCN;
    /* background-color: transparent; */
    border: 1px solid #51B9BD;
}
/* 搜索框获得焦点时样式 */
.search:focus {
    outline: coral solid 1px;
    /*添加外边框*/
}
.searchBtn {
    width: 25%;
    max-width: 90px;
    height: 45px;
    border: none;
    background-color: #51B9BD;
    color: #fff;
    border-radius: 0 20px 20px 0;
    font-size: 0.86rem;
    font-family: SourceHanSansCN;
    cursor: pointer;
}

/* 媒体查询 */
@media screen and (max-width: 768px) {
    .searchDiv {
        height: auto; /* 在较小的屏幕上取消固定高度 */
    }

    .search {
        width: 79%;
        max-width: none; /* 移除最大宽度限制 */
        padding-left: 30px; /* 减小左边距 */
    }

    .searchBtn {
        width: 30%;
        max-width: none; /* 移除最大宽度限制 */
    }
}