
*{
    margin: 0;
    padding: 0;
    /* background-color: #F4F4F5; */
}
.toolbar {
    background-color: #fbfdfd;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3.3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 1.4rem;
}

.toolbar a {
    color: #8d8d8f;
    text-decoration: none;
}

.toolbar a span {
    display: block;
    font-size: 1rem;
}

.toolbar a i {
    font-size: 1.5rem;
}

.toolbar a.active {
    color: #1DB0AC;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
    font-weight: normal;
}

td {
    text-align: center;
}


td.time, td.location {
    font-size: 1.2em;
}


caption {
    font-size: 1.2em;
    padding: 10px;
    background-color: #12ACA8;
    color: #070000;
    text-align: center;
}
header {
    font-size: 1.2em;
    padding: 10px;
    background-color: #12ACA8;
    color: #ffffff;
    text-align: center;
}
