.title {
    height: 44px;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #030303;
}

.back {
    width: 12px;
    height: 21px;
    margin-left: 10px;
}

h4 {
    flex: 1;
    text-align: center;
}

#allmap {
    width: 100%;
    height: 400px;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fafafa;
    text-align: center;
    margin: 0 auto;
    margin-top: 47px;
    box-shadow: 0 0 0 15px rgba(48, 52, 207, 0.5),
    0 0 0 30px rgba(48, 52, 207, 0.3),
    0 0 0 45px rgba(48, 52, 207, 0.1);
}

.out_circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fafafa;
    text-align: center;
    margin: 0 auto;
    margin-top: 47px;
    font-size: 12px;
    box-shadow: 0 0 0 15px rgba(224, 28, 28, 0.75),
    0 0 0 30px rgba(236, 39, 78, 0.64),
    0 0 0 45px rgba(245, 200, 200, 0.65);
}

.ok_circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 47px;
    font-size: 12px;
    box-shadow: 0 0 0 15px rgb(28, 224, 54),
    0 0 0 30px rgb(111, 236, 39),
    0 0 0 45px rgb(217, 245, 200);
}

.time {
    padding-top: 20px;
    font-size: 14px;
}
.check{
    width: 1px;
    height: 1px;
    margin: 2px;
    background: #fafafa;
}
.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.custom-alert-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.custom-alert-content span {
    display: block;
    margin-bottom: 10px;
}

.custom-alert-content button {
    padding: 5px 10px;
}


