.mt-21 {
  margin-top: 1.31rem;
}
.page {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.header {
  height: 5.83rem;
}
.section {
  padding: 1rem 1rem 1rem;
  background-color: #ffffff;
  overflow: hidden;
}
.group {
  overflow: hidden;
  width: 2.63rem;
  height: 1.76rem;
}
.image {
  width: 0.63rem;
  height: 1rem;
}
.font {
  color: #6b7280;
  font-size: 0.75rem;
  font-family: SourceHanSansCN;
  line-height: 0.68rem;
}
.group_2 {
  overflow: hidden;
  width: 66%;
  height: 3rem;
}
.text_2 {
  margin-left: 1.18rem;
  color: #374151;
  font-size: 0.9rem;
  font-family: SourceHanSansCN;
  font-weight: 800;
  line-height: 1.5rem;
}
.group_3 {
  overflow-y: auto;
}
.group_4 {
  padding: 1.31rem 1.02rem 0;
}
.text_3 {
  color: #374151;
  font-size: 0.86rem;
  font-family: SourceHanSansCN;
  font-weight: 700;
  line-height: 0.82rem;
}
.font_2 {
  color: #6b7280;
  font-size: 0.88rem;
  font-family: SourceHanSansCN;
  line-height: 1.25rem;
}







.ml-9 {
  margin-left: 0.56rem;
}
.text_15 {
  line-height: 0.8rem;
}
.image_4 {
  width: 1rem;
  height: 1rem;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.items-center {
  align-items: center;
}

.self-stretch {
  align-self: stretch;
}

.mt-15 {
  margin-top: 0.94rem;
  margin-left: 0.94rem;
}