/************************************************************
** 请将全局样式拷贝到项目的全局 CSS 文件或者当前页面的顶部 **
** 否则页面将无法正常显示                                  **
************************************************************/

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', 'Microsoft Yahei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.shrink {
  flex-shrink: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.relative {
  position: relative;
}

.ml-2 {
  margin-left: 0.13rem;
}

.mt-2 {
  margin-top: 0.13rem;
}

.ml-4 {
  margin-left: 0.25rem;
}

.mt-4 {
  margin-top: 0.25rem;
}

.ml-6 {
  margin-left: 0.38rem;
}

.mt-6 {
  margin-top: 0.38rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.ml-10 {
  margin-left: 0.63rem;
}

.mt-10 {
  margin-top: 0.63rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.ml-14 {
  margin-left: 0.88rem;
}

.mt-14 {
  margin-top: 0.88rem;
}

.ml-16 {
  margin-left: 1rem;
}

.mt-16 {
  margin-top: 1rem;
}

.ml-18 {
  margin-left: 1.13rem;
}

.mt-18 {
  margin-top: 1.13rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.ml-22 {
  margin-left: 1.38rem;
}

.mt-22 {
  margin-top: 1.38rem;
}

.ml-24 {
  margin-left: 1.5rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.ml-26 {
  margin-left: 1.63rem;
}

.mt-26 {
  margin-top: 1.63rem;
}

.ml-28 {
  margin-left: 1.75rem;
}

.mt-28 {
  margin-top: 1.75rem;
}

.ml-30 {
  margin-left: 1.88rem;
}

.mt-30 {
  margin-top: 1.88rem;
}

.ml-32 {
  margin-left: 2rem;
}

.mt-32 {
  margin-top: 2rem;
}

.ml-34 {
  margin-left: 2.13rem;
}

.mt-34 {
  margin-top: 2.13rem;
}

.ml-36 {
  margin-left: 2.25rem;
}

.mt-36 {
  margin-top: 2.25rem;
}

.ml-38 {
  margin-left: 2.38rem;
}

.mt-38 {
  margin-top: 2.38rem;
}

.ml-40 {
  margin-left: 2.5rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.ml-42 {
  margin-left: 2.63rem;
}

.mt-42 {
  margin-top: 2.63rem;
}

.ml-44 {
  margin-left: 2.75rem;
}

.mt-44 {
  margin-top: 2.75rem;
}

.ml-46 {
  margin-left: 2.88rem;
}

.mt-46 {
  margin-top: 2.88rem;
}

.ml-48 {
  margin-left: 3rem;
}

.mt-48 {
  margin-top: 3rem;
}

.ml-50 {
  margin-left: 3.13rem;
}

.mt-50 {
  margin-top: 3.13rem;
}

.ml-52 {
  margin-left: 3.25rem;
}

.mt-52 {
  margin-top: 3.25rem;
}

.ml-54 {
  margin-left: 3.38rem;
}

.mt-54 {
  margin-top: 3.38rem;
}

.ml-56 {
  margin-left: 3.5rem;
}

.mt-56 {
  margin-top: 3.5rem;
}

.ml-58 {
  margin-left: 3.63rem;
}

.mt-58 {
  margin-top: 3.63rem;
}

.ml-60 {
  margin-left: 3.75rem;
}

.mt-60 {
  margin-top: 3.75rem;
}

.ml-62 {
  margin-left: 3.88rem;
}

.mt-62 {
  margin-top: 3.88rem;
}

.ml-64 {
  margin-left: 4rem;
}

.mt-64 {
  margin-top: 4rem;
}

.ml-66 {
  margin-left: 4.13rem;
}

.mt-66 {
  margin-top: 4.13rem;
}

.ml-68 {
  margin-left: 4.25rem;
}

.mt-68 {
  margin-top: 4.25rem;
}

.ml-70 {
  margin-left: 4.38rem;
}

.mt-70 {
  margin-top: 4.38rem;
}

.ml-72 {
  margin-left: 4.5rem;
}

.mt-72 {
  margin-top: 4.5rem;
}

.ml-74 {
  margin-left: 4.63rem;
}

.mt-74 {
  margin-top: 4.63rem;
}

.ml-76 {
  margin-left: 4.75rem;
}

.mt-76 {
  margin-top: 4.75rem;
}

.ml-78 {
  margin-left: 4.88rem;
}

.mt-78 {
  margin-top: 4.88rem;
}

.ml-80 {
  margin-left: 5rem;
}

.mt-80 {
  margin-top: 5rem;
}

.ml-82 {
  margin-left: 5.13rem;
}

.mt-82 {
  margin-top: 5.13rem;
}

.ml-84 {
  margin-left: 5.25rem;
}

.mt-84 {
  margin-top: 5.25rem;
}

.ml-86 {
  margin-left: 5.38rem;
}

.mt-86 {
  margin-top: 5.38rem;
}

.ml-88 {
  margin-left: 5.5rem;
}

.mt-88 {
  margin-top: 5.5rem;
}

.ml-90 {
  margin-left: 5.63rem;
}

.mt-90 {
  margin-top: 5.63rem;
}

.ml-92 {
  margin-left: 5.75rem;
}

.mt-92 {
  margin-top: 5.75rem;
}

.ml-94 {
  margin-left: 5.88rem;
}

.mt-94 {
  margin-top: 5.88rem;
}

.ml-96 {
  margin-left: 6rem;
}

.mt-96 {
  margin-top: 6rem;
}

.ml-98 {
  margin-left: 6.13rem;
}

.mt-98 {
  margin-top: 6.13rem;
}

.ml-100 {
  margin-left: 6.25rem;
}

.mt-100 {
  margin-top: 6.25rem;
}

.page {
  padding: 2.81rem 0 3.13rem;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  padding: 4.94rem 0 0.13rem;
}
.text-wrapper {
  padding: 5.63rem 0 1.63rem;
  filter: drop-shadow(0rem -1.75rem 1.06rem #0000000a);
  background-image: url('/graduate-mobie/img/login/Baicre.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.text {
  margin-left: 1.88rem;
  color: #53586e;
  font-size: 1.25rem;
  font-family: HarmonyOSSansSC;
  line-height: 1.17rem;
}
.image-wrapper {
  padding: 1.75rem 0;
  filter: drop-shadow(0rem 1rem 1rem #00000017);
  background-image: url('/graduate-mobie/img/login/Icond.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 6.25rem;
}
.pos {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.image {
  width: 2.63rem;
  height: 2.75rem;
}
.text_2 {
  color: #cdcdcd;
  font-size: 1rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.93rem;
}
.pos_2 {
  position: absolute;
  left: 1.91rem;
  bottom: 0;
}
.group_2 {
  padding: 0 1.88rem;
}
.group_3 {
  margin-top: 1.25rem;
  padding: 1.75rem 0 2.25rem;
  border-top: solid 0.063rem #d0d0d0;
}
.group_4 {
  padding-bottom: 0.75rem;
  border-bottom: solid 0.063rem #d0d0d0;
}
.image_2 {
  margin-right: 0.25rem;
  width: 1rem;
  height: 0.94rem;
}
.font {
  font-size: 0.88rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.8rem;
  color: #868686;
}
.text_3 {
  line-height: 0.81rem;
}
.text_4 {
  color: #010f07;
  line-height: 0.81rem;
  text-decoration: underline;
  opacity: 0.64;
}
.text-wrapper_2 {
  padding: 1rem 0 1.13rem;
  background-image: url('/graduate-mobie/img/login/Lbtton.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.text_5 {
  color: #ffffff;
  line-height: 0.79rem;
  text-transform: uppercase;
}
.divider {
  margin-top: 2.5rem;
}
.section {
  background-color: #c8c8c8;
  width: 3.7rem;
  height: 0.063rem;
}
.text_6 {
  margin-top: 12.25rem;
  color: #40497c;
  line-height: 0.81rem;
  text-decoration: underline;
}

.input-item {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 15px;
  border: none;
  outline: none;
}
.input-label {
  position: relative;
}
.input-label::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #D8D8D8;
}

#div_sid{
  margin: 0 auto;
  width: 16rem;
  height: 3rem;
}
#div_sid1{
  margin: 0 auto;
  width: 16rem;
  height: 4rem;
}

/*  登录按钮  */
#div_sid2{
  margin: 0 auto;
  width: 11rem;
  height: 3rem;
}

#div_sid2 {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
}

#div_sid2 input[type="submit"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/*  用户图标 */
#yh{
  position: absolute;
  top: 19rem;
  right: 21rem;
  width: 2rem;
}
/*  密码图标 */
#mm{
  position: absolute;
  top: 22rem;
  right: 21rem;
  width: 2rem;
}
/*  发送验证码 */
.fs{
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 7rem;
  height: 2rem;
}
#u1865{
  margin-left: 3rem;
  margin-top: -8rem;
}
#agreement{
  width: 13px;
  height: 11px;
}

